option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

# --- SYSTEM FIX FOR COMPILATION ---
container_commands:
  01_update_pip:
    command: "pip install --upgrade pip"
  02_install_tools:
    # This installs the C/C++ compilers required for XGBoost and CatBoost
    command: "sudo yum install -y gcc gcc-c++ python3-devel"